<h2>{{ i18n 'js.color_user_names.group_order_label' }}</h2>

<form {{action "saveChanges" on="submit"}}>
  <table>
    <thead>
      <tr>
        <th>Group</th>
        <th>Color</th>
      </tr>
    </thead>
    <tbody>
      {{#each groupOrder as |group color|}}
        <tr>
          <td>{{input type="text" value=group}}</td>
          <td>{{input type="color" value=color}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  <button type="submit">{{i18n 'js.color_user_names.save_changes_button'}}</button>
</form>